<launch>

	<!-- We create empty world, changing only the name of the world to be launch -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find sia20_gazebo)/worlds/sia20.world"/>
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>
		<!-- Change default parameters here -->
	</include>

	<!-- Load sia20 URDF into ROS parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find sia20_description)/robots/sia20.urdf.xacro'"/>

	<!-- Run a python script to send a service-call to gazebo_ros to spawn URDF of sia20 robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model sia20 -param robot_description"/>


	<!-- ros_control sia20 launch file -->
	<!-- include file="$(find sia20_control)/launch/sia20_control.launch"/-->

</launch>

