<launch>
	<!-- robot_description -->
	<include file="$(find sia20_description)/launch/sia20_with_gripper_description.launch"/>

	<!-- gazwebo -->
	<include file="$(find sia20_gazebo)/launch/sia20_with_gripper_gazebo.launch"/>

	<!-- controllers -->
	<include file="$(find sia20_control)/launch/sia20_with_gripper_control.launch"/>

	<!-- moveit -->
	<include file="$(find sia20_with_gripper_moveit_config)/launch/planning_context.launch"/>

	<include file="$(find sia20_with_gripper_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true"/>
		<arg name="allow_trajectory_execution" value="true"/>
		<arg name="fake_execution" value="false"/>
		<arg name="info" value="true"/>
		<arg name="debug" value="false"/>
	</include>

	<!-- rviz -->
	<include file="$(find sia20_with_gripper_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
		<arg name="debug" value="false"/>
	</include>
</launch>

