<?xml version="1.0"?>
<robot name="sia20" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- include common macro file-->
	<!--xacro:include filename="common.urdf.xacro" /-->

	<link name="left_gripper">
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<inertia ixx="0.1" ixy="0.1" ixz="0.1" iyy="0.1" iyz="0.1" izz="0.1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</visual>
		<gazebo>
			<mu1>100</mu1>
			<mu2>100</mu2>
		</gazebo>
	</link>

	<link name="left_tip">
		<visual>
			<origin rpy="0 0 0" xyz="0.09137 0.00495 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger_tip.dae"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger_tip.dae"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.09137 0.00495 0"/>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<inertia ixx="0.1" ixy="0.1" ixz="0.1" iyy="0.1" iyz="0.1" izz="0.1"/>
		</inertial>
	</link>

	<joint name="left_tip_joint" type="fixed">
		<parent link="left_gripper"/>
		<child  link="left_tip"/>
	</joint>


	<link name="right_gripper">
		<visual>
			<origin rpy="3.14 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
			<origin rpy="3.14 0 0" xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<inertia ixx="0.1" ixy="0.1" ixz="0.1" iyy="0.1" iyz="0.1" izz="0.1"/>
		</inertial>
		<gazebo>
			<mu1>100</mu1>
			<mu2>100</mu2>
		</gazebo>
	</link>

	<link name="right_tip">
		<visual>
			<origin rpy="3.14 0 0" xyz="0.09137 0.00495 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger_tip.dae"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger_tip.dae"/>
			</geometry>
			<origin rpy="3.14 0 0" xyz="0.09137 0.00495 0"/>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<inertia ixx="0.1" ixy="0.1" ixz="0.1" iyy="0.1" iyz="0.1" izz="0.1"/>
		</inertial>
	</link>

	<joint name="right_tip_joint" type="fixed">
		<parent link="right_gripper"/>
		<child  link="right_tip"/>
	</joint>

</robot>
