<?xml version="1.0"?>
<robot name="sia20" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- include common macro file-->
	<xacro:include filename="common.urdf.xacro" />

	<link name="left_gripper">
		<collision>
			<origin rpy="0 0 -1.5708" xyz="0.013 -0.02 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<xacro:default_inertial/>
		</inertial>
		<visual>
			<origin rpy="0 0 -1.5708" xyz="0.013 -0.02 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</visual>
	</link>

	<link name="right_gripper">
		<collision>
			<origin rpy="3.14 0 -1.5708" xyz="-0.013 -0.02 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<xacro:default_inertial/>
		</inertial>
		<visual>
			<origin rpy="3.14 0 -1.5708" xyz="-0.013 -0.02 0"/>
			<geometry>
				<mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
			</geometry>
		</visual>
	</link>

</robot>


