<?xml version="1.0"?>
<robot name="sia20" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- include robot -->
	<xacro:include filename="sia20.urdf.xacro" />

	<!-- include gripper -->
	<xacro:include filename="gripper.urdf.xacro" />

	<!-- concatenate gripper to robot -->
	<joint name="wrist_to_l" type="fixed">
		<parent  link="tool0"/>
		<child link="left_gripper"/>
	</joint>

	<joint name="wrist_to_r" type="fixed">
		<parent link="tool0"/>
		<child link="right_gripper"/>
	</joint>

</robot>
