<?xml version="1.0"?>
<launch>
	<!-- Load joint controller configuration from YAML file to parameter server -->
	<rosparam file="$(find sia20_control)/config/sia20_control.yaml" command="load" />

	<!-- Load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/"      args="joint_s_position_controller 
										  joint_l_position_controller
										  joint_e_position_controller
										  joint_u_position_controller
										  joint_r_position_controller
										  joint_b_position_controller
										  joint_t_position_controller
										  joint_state_controller"/>

	<!-- Convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen" >
		<!--remap from="/joint_states" to="/sia20/joint_states"/-->
	</node>

</launch>
