<?xml version="1.0"?>
<launch>

  <!-- launch empty gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="paused" default="false"/>
  	<arg name="use_sim_time" default="true"/>
  	<arg name="gui" default="true"/>
  	<arg name="recording" default="false"/>
  	<arg name="debug" default="false"/>
  </include>

  <!-- load robot_description of sia20-->
  <arg name="model" default="$(find sia20_description)/robots/sia20.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- spawn robot model into gazebo-->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model sia20 -param robot_description" respawn="false" output="screen" />

</launch>
