<?xml version="1.0"?>
<launch>

  <!-- launch empty gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="paused" default="false"/>
  	<arg name="use_sim_time" default="true"/>
  	<arg name="gui" default="true"/>
  	<arg name="recording" default="false"/>
  	<arg name="debug" default="false"/>
  </include>

  <!-- robot_description-->
  <arg name="model" default="$(find sia20)/robots/sia20.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

  <!-- robot & joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <rosparam command="load" file="$(find sia20_moveit_config)/config/ros_controllers.yaml" ns="/sia20"/>
  <rosparam command="load" file="$(find sia20_moveit_config)/config/joint_limits.yaml" ns="/sia20"/>

  <!-- spawn robot model -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-unpause -urdf -model sia20 -param robot_description" respawn="false" output="screen" />

  <!-- Load default controllers -->
  <!-- Robot state publisher-->
  <!-- Motion planing -->

</launch>
