<launch>
	<!-- gazebo -->
	<include file="$(find sia20_description)/launch/gazebo.launch" />

	<!-- Load the URDF, SRDF, joint limits and kinematics config to the parameter server -->
	<include file="$(find sia20_moveit_config)/launch/planning_context.launch" />

	<!-- controllers -->
	<!--rosparam file="$(find sia20_moveit_config)/config/trajectory_control.yaml" command="load"/-->
	<!--node name="sia20_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/sia20" args="sia20_joint_controller joint_state_controller"/-->
	<include file="$(find sia20_control)/launch/sia20_control.launch" />

	<!-- MoveIt! -->
	<include file="$(find sia20_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true"/>
		<arg name="allow_trajectory_execution" value="true"/>
		<arg name="fake_execution" value="false" />
		<arg name="info" value="true"/>
		<arg name="debug" value="false"/>
	</include>

	<!-- Rviz and load default config to see the state of the move_group node -->
	<include file="$(find sia20_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
		<arg name="debug"  value="false"/>
	</include>
</launch>
